body {
    margin: 0;
}


/********** MAIN INDEX **********/
.main-index {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-index h1 {
    font-size: 3rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.main-index .actions-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

.main-index .actions-links div {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;
}

.main-index .actions-links div a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}


/********** APP INDEX **********/
.detail-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-content h1 {
    font-size: 3rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.detail-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    padding: 0;
    line-height: 1.7rem;
}


.detail-content ul li a {
    text-decoration: underline;
    color: black;
}

.detail-content ul li a:hover {
    color: saddlebrown;
}

.detail-content .actions-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

.detail-content .actions-links div {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;
}

.detail-content .actions-links div a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
}